body {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
}

.header {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin: 15px 15px;
}

.prototype {
    display: block;
    justify-content: center;
}

iframe {
    margin: 0 auto;
    border-radius: 5px;
    border-color: #ccc;
}
