@font-face {
    font-family: myFirstFont;
    src: url(Azonix-1VB0.otf) format("truetype");
}

body.customfont { 
    font-family: myFirstFont, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.header {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}