body {
    background-color: white;
    font-family: Helvetica, sans-serif;
}

.header {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

iframe {
    width: 960px;
    height: 600px;
    justify-content: center;
}
